.head-custom{
	font-weight: 500;
}
.pt-10{
	padding-top: 10px;
}
/* small down */
@media (max-width: 767px) {
  .heigh2 {
    height: 60em;
  }
}
/* medium up */
@media (min-width: 768px) {
  .heigh1 {
    height: 30em;
  }
}